<div class="home-cta__container">
  <div class="home-cta__subtitle">Nessun Costo di Attivazione</div>
  <div class="home-cta__title">Inizia a risparmiare sulla consulenza del lavoro</div>

  <a (window:resize)="onResize($event)" [hidden]="web" href="http://app.merito.so/welcome"><button class="home-cta__button" mat-flat-button>Contattaci subito</button></a>
  <a (window:resize)="onResize($event)" [hidden]="mobile" href="http://calendly.com/paghe/informazioni"><button class="home-cta__button" mat-flat-button>Contattaci subito</button></a>
</div>

