<div class="content-layout fullwidth-basic-normal-scroll" id="faq">

  <div class="container">

    <!-- Frequently asked questions -->
    <div class="faqs-section">

      <div class="title-container">
        <div class="title">Chi siamo</div>
        <div class="subtitle">La nostra società conta più di 20 anni di esperienza nel settore. I nostri uffici si
          trovano a pochi minuti dal centro di Cagliari.</div>
      </div>

      <div class="grid-container">

        <!-- Column -->
        <div class="column">

          <div class="question">
            Perché scegliere la piattaforma Paghe.com?
          </div>
          <div class="answer">
            <p>
              Paghe.com é la soluzione digitale che snellisce gli adempimenti mensili a carico delle aziende
              permettendo di ottenere le buste paga ed i documenti contabili con un notevole risparmio di
              costi rispetto ad un consulente tradizionale. Tutte le elaborazioni avverranno attraverso
              consulenti regolarmente iscritti all'Albo professionale competente.
            </p>
          </div>

          <div class="question">
            Oltre al costo del cedolino ci sono spese aggiuntive?
          </div>
          <div class="answer">
            <p>
              Il nostro pacchetto tutto incluso comprende gli adempimenti
              standard previsti per l'elaborazione dei cedolini paga.
            </p>
            <p>
              Ogni servizio aggiuntivo, come l'assunzione di un nuovo dipendente
              o la trasformazione di un rapporto di lavoro verranno fatturati
              separatamente secondo il nostro tariffario. Per maggiori informazioni
              in paghe.com al costo dei servizi aggiuntivi non esitare a contattarci.
            </p>
          </div>

        </div>

        <!-- Column -->
        <div class="column">

          <div class="question">
            Quali sono i settori d'impresa con i quali operiamo?
          </div>
          <div class="answer">
            <p>
              Grazie all'esperienza ventennale nel settore e migliaia di cedolini paga
              elaborati, possiamo affiancare le aziende operanti in qualsiasi settore
              economico. La nostra modalità
            </p>
            <p>
              di lavoro garantisce ai nostri clienti un servizio affidabile e accurato
              su tutto il territorio nazionale.
            </p>
          </div>

          <div class="question">
            C'é la possibilità di avere un contatto diretto?
          </div>
          <div class="answer">
            <p>
              All’attivazione del servizio riceverai una username e password
              per poter utilizzare la nostra area riservata dove potrai gestire
              la comunicazione delle presenze e richiedere servizi aggiuntivi.
              In ogni momento potrai effettuare lo stesso tipo di richieste
              inviandoci una email o contattandoci al nostro numero di telefono.
              Il nostro personale è sempre a tua disposizione.
            </p>
          </div>

        </div>

      </div>

    </div>

  </div>

</div>