<div class="container">
  <div class="hero__wrapper">
    <div class="hero__text">
      <!--Title-->
      <h1 class="hero__text__title">Le buste paga a portata di click</h1>

      <div class="hero__text__description">
        Paghe é la soluzione migliore per pagare e premiare i tuoi dipendenti direttamente online.
      </div>

      <div class="hero__text__buttons">
        <a (window:resize)="onResize($event)" [hidden]="mobile" href="http://calendly.com/paghe/informazioni"><button
            mat-raised-button [color]="'primary'">Contattaci</button></a>
        <a (window:resize)="onResize($event)" [hidden]="web" href="http://app.merito.so/welcome"><button
            mat-raised-button [color]="'primary'">Contattaci</button></a>
        <a (click)="onPricesButtonClick()"><button mat-raised-button>Vai ai prezzi</button></a>
      </div>

    </div>

    <div class="hero__image">
      <img src="assets/images/Hero.png" alt="Paghe product">
    </div>
  </div>
</div>