<div class="container">
  <div class="hero__wrapper">
    <div class="hero__text">
      <!--Title-->
      <h1 class="hero__text__title">Le buste paga a portata di click</h1>

      <div class="hero__text__description">
        Scopri la soluzione digitale per elaborare le tue buste paga a partire da 9€ a mensilità
      </div>

      <div class="hero__text__buttons">
        <a (window:resize)="onResize($event)" [hidden]="mobile" href="http://app.paghe.com/contattaci"><button
            mat-raised-button [color]="'primary'">Ricevi preventivo</button></a>
        <a (window:resize)="onResize($event)" [hidden]="web" href="http://app.paghe.com/contattaci"><button
            mat-raised-button [color]="'primary'">Ricevi preventivo</button></a>
        <a (click)="onPricesButtonClick()"><button mat-raised-button>Vai ai prezzi</button></a>
      </div>

    </div>

    <div class="hero__image">
      <img src="assets/images/Hero.png" alt="Paghe product">
    </div>
  </div>
</div>