@import 'src/@treo/styles/treo';

app-pricing-multiple {

  .cards {
    display: flex;
    justify-content: center;
    margin: 0 -12px;

    @include treo-breakpoint('lt-lg') {
      flex-direction: column;
      margin: 0;
    }

    treo-card {
      flex-direction: column;
      max-width: 384px;
      margin: 0 12px 32px 12px;
      padding: 64px 48px;
      overflow: visible;

      @include treo-breakpoint('lt-lg') {
        margin: 0 0 32px 0;
      }

      .tag {
        position: absolute;
        top: -16px;
        left: calc(50% - 64px);
        width: 128px;
        height: 32px;
        line-height: 32px;
        font-weight: 500;
        text-align: center;
        border-radius: 16px;
      }

      .title {
        font-size: 32px;
        font-weight: 700;
        line-height: 1.25;
      }

      .subtitle {
        font-size: 16px;
        margin-top: 8px;
      }

      .divider {
        width: 32px;
        height: 4px;
        margin: 40px 0;
        border-radius: 2px;
      }

      .price {
        display: flex;
        align-items: baseline;
        white-space: nowrap;

        .currency {
          font-size: 20px;
          font-weight: 400;
          margin-right: 8px;
        }

        .amount {
          font-size: 40px;
          font-weight: 600;
          line-height: 1.25;
        }
      }

      .price-details {
        display: flex;
        flex-direction: column;
        margin-top: 8px;
      }

      .cta-button {
        margin: 40px 0 48px 0;
        width: 100%;
      }

      .features {
        display: flex;
        flex-direction: column;

        .description {
          margin-bottom: 8px;
          font-weight: 600;
        }

        .feature {
          display: flex;
          align-items: center;
          margin-top: 8px;

          .mat-icon {
            margin-right: 8px;
            @include treo-icon-size(20);
          }
        }
      }
    }
  }
}

// -----------------------------------------------------------------------------------------------------
// @ Theming
// -----------------------------------------------------------------------------------------------------
@include treo-theme {

  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $is-dark: map-get($theme, is-dark);

  .cards {

    treo-card {

      .tag {
        background: map-get($accent, default);
        color: map-get($accent, default-contrast);
      }

      .subtitle {
        color: map-get($foreground, secondary-text);
      }

      .divider {
        background: map-get($primary, default);
      }

      .price-details {
        color: map-get($foreground, secondary-text);
      }

      .features {

        .feature {

          .mat-icon {
            color: treo-color('green', 500);
          }
        }
      }
    }
  }
}
