<!-- Cards -->
<div class="cards">

  <!-- Card 1 -->
  <treo-card>

    <div class="title">Basic</div>
    <div class="subtitle">La soluzione base per piccole imprese da 2 a 5 dipendenti</div>

    <div class="divider"></div>

    <div class="price">
      <span class="amount">
          <ng-container>19€</ng-container>
      </span>
    </div>

    <div class="price-details">
      <span>per cedolino elaborato</span>
      <span>(fino a 5 dipendenti)</span>
    </div>

    <a (window:resize)="onResize($event)" [hidden]="mobile" href="http://calendly.com/paghe/informazioni">
      <button class="cta-button treo-mat-button-large"
              mat-stroked-button
              [color]="'primary'"
              >
        Contattaci per iniziare
      </button>
    </a>
    <a (window:resize)="onResize($event)" [hidden]="web" href="http://app.merito.so/welcome">
      <button class="cta-button treo-mat-button-large"
              mat-stroked-button
              [color]="'primary'"
              >
        Contattaci per iniziare
      </button>
    </a>

    <div class="features">

      <div class="description">Il nostro prezzo include:</div>

      <div class="feature">
        <mat-icon [svgIcon]="'check'"></mat-icon>
        <span>Gestione del Libro Unico</span>
      </div>

      <div class="feature">
        <mat-icon [svgIcon]="'check'"></mat-icon>
        <span>Predisposizione F24</span>
      </div>

      <div class="feature">
        <mat-icon [svgIcon]="'check'"></mat-icon>
        <span>Invio Telematico</span>
      </div>

      <div class="feature">
        <mat-icon [svgIcon]="'check'"></mat-icon>
        <span>Tutti i prospetti contabili</span>
      </div>

      <div class="feature">
        <mat-icon [svgIcon]="'check'"></mat-icon>
        <span>Assistenza in orari d’ufficio</span>
      </div>

    </div>

  </treo-card>

  <!-- Card 2 -->
  <treo-card>

    <div class="tag">POPOLARE</div>

    <div class="title">Medium</div>
    <div class="subtitle">Il pacchetto aggiuntivo per medie imprese da 6 a 10 dipendenti</div>

    <div class="divider"></div>

    <div class="price">
      <span class="amount">
                        <ng-container>14 €</ng-container>
                    </span>
    </div>

    <div class="price-details">
      <span>per cedolino elaborato</span>
      <span>(dal 6° fino al 10° dipendente)</span>
    </div>

    <a (window:resize)="onResize($event)" [hidden]="mobile" href="http://calendly.com/paghe/informazioni">
      <button class="cta-button treo-mat-button-large"
              mat-stroked-button
              [color]="'primary'">
        Contattaci per iniziare
      </button>
    </a>
    <a (window:resize)="onResize($event)" [hidden]="web" href="http://app.merito.so/welcome">
      <button class="cta-button treo-mat-button-large"
              mat-stroked-button
              [color]="'primary'">
        Contattaci per iniziare
      </button>
    </a>

    <div class="features">

      <div class="description">Il nostro prezzo include:</div>

      <div class="feature">
        <mat-icon [svgIcon]="'check'"></mat-icon>
        <span>Gestione del Libro Unico</span>
      </div>

      <div class="feature">
        <mat-icon [svgIcon]="'check'"></mat-icon>
        <span>Predisposizione F24</span>
      </div>

      <div class="feature">
        <mat-icon [svgIcon]="'check'"></mat-icon>
        <span>Invio Telematico</span>
      </div>

      <div class="feature">
        <mat-icon [svgIcon]="'check'"></mat-icon>
        <span>Tutti i prospetti contabili</span>
      </div>

      <div class="feature">
        <mat-icon [svgIcon]="'check'"></mat-icon>
        <span>Assistenza in orari d’ufficio</span>
      </div>

    </div>

  </treo-card>

  <!-- Card 3 -->
  <treo-card>

    <div class="title">Enterprise</div>
    <div class="subtitle">Il pacchetto aggiuntivo per grandi aziende con più di 10 dipendenti</div>

    <div class="divider"></div>

    <div class="price">
      <span class="amount">
                        <ng-container>9 €</ng-container>
                    </span>
    </div>

    <div class="price-details">
      <span>per cedolino elaborato</span>
      <span>(dall’ 11° al 20° dipendente)</span>
    </div>

    <a (window:resize)="onResize($event)" [hidden]="mobile" href="http://calendly.com/paghe/informazioni">
      <button class="cta-button treo-mat-button-large"
              mat-stroked-button
              [color]="'primary'">
        Contattaci per iniziare
      </button>
    </a>
    <a (window:resize)="onResize($event)" [hidden]="web" href="http://app.merito.so/welcome">
      <button class="cta-button treo-mat-button-large"
              mat-stroked-button
              [color]="'primary'">
        Contattaci per iniziare
      </button>
    </a>

    <div class="features">

      <div class="description">Il nostro prezzo include:</div>

      <div class="feature">
        <mat-icon [svgIcon]="'check'"></mat-icon>
        <span>Gestione del Libro Unico</span>
      </div>

      <div class="feature">
        <mat-icon [svgIcon]="'check'"></mat-icon>
        <span>Predisposizione F24</span>
      </div>

      <div class="feature">
        <mat-icon [svgIcon]="'check'"></mat-icon>
        <span>Invio Telematico</span>
      </div>

      <div class="feature">
        <mat-icon [svgIcon]="'check'"></mat-icon>
        <span>Tutti i prospetti contabili</span>
      </div>

      <div class="feature">
        <mat-icon [svgIcon]="'check'"></mat-icon>
        <span>Assistenza in orari d’ufficio</span>
      </div>

    </div>

  </treo-card>

</div>
